.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    background-color: #ccd5ae;
    border-bottom: 0.1px solid #333333cb;

    .nav-logo{

        img{
            width: 10rem;
        }
    }

    .nav-icons{
        display: flex;
        align-items: center;
        gap: 1.5rem;

        i{
            font-size: 1.5rem;
            color: #333;
            cursor: pointer;
        }

        .profile{
            width: 1.7rem;
            height: 1.7rem;
            border-radius: 50%;
            overflow: hidden;
            border: 1px solid #333;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
             
            }
        }
    }
}